/*=================================================
GLOBAL STYLES    
===================================================*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-image: url(../assets/img/bg_contact.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

.main-container {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px;
    margin-top: 90px;
    background: #fff;
    border-radius: 20px;
    min-height: 85vh;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.3);
    animation: acounts-anim .8s ease-in-out;
}

.main-container .personal-inf {
    margin-bottom: 30px;
}

.field {
    margin: 10px;
    align-content: center;
}

.personal-inf h2 {
    margin: 10px;
    color: #03A9F4;
}

.field label {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

.field p {
    padding-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Reserved-courses {
    margin: 10px;
}

.Reserved-courses h2 {
    color: #03A9F4;
}

.Reservation {
    border: #03A9F4 1px solid;
    border-radius: 10px;
    padding: 10px;
}

.Reservation label {
    color: black;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Reservation p {
    margin-left: 20px;
}

@media screen AND (max-width:700px) {
    .main-container {
        width: 85%;
    }
}

@keyframes acounts-anim {
    0% {
        transform: scale(0%);
    }
    60% {
        transform: scale(110%);
    }
    80% {
        transform: scale(90%);
    }
    100% {
        transform: scale(100%);
    }
}